/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

/* ОБщие стили для страницы */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--font-weight-main);
}

.elastic__width {
  inline-size: var(--elastic-width);
}

/* Стилизация шапки */

.header {
  block-size: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
  margin-inline: auto;
  margin-block: 100px 98px;
  background-color: var(--elements-background-color);
  border: var(--elements-border);
  font-family: var(--accent-font);
  font-weight: var(--font-weight-button);
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* ОБщие стили для main */

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Стилизация карточек */

.card {
  margin-inline: auto;
  background-color: var(--elements-background-color);
  border: var(--elements-border);
}

.card__title {
  padding: 4px 10px 4px 10px;
  line-height: 1.3;
  font-size: inherit;
  font-weight: var(--font-weight-titles);
  border-bottom: var(--elements-border);
}

/* Стилизация картинок и подписей */

.image__container {
  position: relative;
  block-size: var(--image-height);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-button);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 371px;
  max-block-size: 696px;
  object-fit: cover;
  object-position: center;
}

.multifilter {
  filter: contrast(80%) sepia(40);
}

.blur__filter {
  filter: blur(2px);
}

.grayscale__filter {
  filter: grayscale(0.8);
}

.saturate__filter {
  filter: saturate(158%);
}

.hue__rotate-filter {
  filter: hue-rotate(-90deg);
}

.sepia__filter {
  filter: sepia(80%);
}

.invert__filter {
  filter: invert(0.6);
}

/* Стили для текста карточек */

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: var(--elements-border);
}

.description__text {
  overflow-wrap: break-word;
  line-height: 1.15;
  letter-spacing: 0.6px;
  word-spacing: 0.5px;
}

/* Стилизация кнопок */

.card__buttons {
  align-self: flex-end;
  display: flex;
  gap: 7px;
}

.button {
  position: relative;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-button);
  border: var(--elements-border);
  background-color: var(--button-background-color);
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  line-height: 0.9;
}

.save__button {
  inline-size: clamp(306px, calc(295.789px + 2.723vw), 335px);
  block-size: 55px;
  margin-inline: auto;
  margin-block-end: 100px;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8px;
  line-height: 0.9;
}

.save__button span {
  inline-size: 100%;
  max-inline-size: 266px;
  white-space: nowrap;
}

.ok__button {
  inline-size: clamp(261px, calc(249.732px + 3.005vw), 293px);
  block-size: 38px;
  text-transform: uppercase;
  line-height: 1.5;
}

/* Активные состояния кнопок */

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

/* Иконка с сердечком */

.card__icon-button {
  min-inline-size: 39px;
  min-block-size: 36px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.like-icon {
  transform-origin: center;
  min-inline-size: 100%;
  min-block-size: 100%;
  object-position: center;
  object-fit: cover;
}

/* Иконка дискеты в кнопке Сохранить */

.floppy__save {
  min-inline-size: 21px;
  min-block-size: 21px;
  mix-blend-mode: difference;
  z-index: 1;
}

/* Модальное окно */

.dialog__block {
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
  block-size: 191px;
  padding-block: 25px;
  padding-inline: 0;
  border: var(--elements-border);
  z-index: 3;
}

.dialog__align {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.dialog__description {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dialog__text {
  max-inline-size: 234px;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-button);
}

/* Иконка дискеты в модальном окне */

.floppy__dialog {
  align-self: center;
  mix-blend-mode: difference;
  z-index: 1;
}

/* Фон под модальным окном */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

/* Корректировка кнопки и межстрочного отступа для мобильного */


@media (width <= 375px) {
  .save__button {
    flex-wrap: wrap;
    block-size: 84px;
    padding-block: 17px;
  }

  .floppy__save {
    inline-size: 28px;
    block-size: 28px;
    min-inline-size: 28px;
    min-block-size: 28px;
  }

  .description__text {
    line-height: 1.16;
  }
}
