/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {

   /* Переменные шрифта */

    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --font-weight-main: 410;
    --font-weight-titles: 715;
    --main-font-size: 18px;
    --button-font-size: 14px;
    --font-weight-button: 400;

 /* Переменные градиента */

    --background-gradient: 
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
      repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);

 /* Переменные для размеров */

    --elastic-width: clamp(375px, calc(260.563px + 30.516vw), 700px);
    --header-height: clamp(327px, calc(312.563px + 3.85vw), 368px);
    --header-padding-block: clamp(122px, calc(119.183px + 0.751vw), 130px);
    --header-padding-inline: clamp(16px, calc(-21.324px + 9.953vw), 122px);
    --image-height: clamp(371px, calc(256.563px + 30.516vw), 696px);

   /* Переменные для сердца */

   --countur-color: #000;
   --animation-fill-color: #FF0000;
   
   /* Переменные для оформления */

    --button-background-color: #fff;
    --elements-background-color: #fff;
    --elements-border: 2px solid #000;
}